<html>
  <head>
      <title> Login Form </title>
  </head>
  <body bgcolor="#faebd7" align="center">
    {% if data == "False" %}
        <form method="post" action="/index/">
        {% csrf_token %}
        <table align="center" border="1" bgcolor="#6495ed">
           <tr>
               <th colspan="2"> Login Form </th>
           </tr>
           <tr>
               <td> User Name </td>
               <td><input type="text" placeholder="User Name" name="u_name" required>*</td>
           </tr>
           <tr>
               <td> Password </td>
               <td><input type="password" placeholder="Password" name="pw" required>*</td>
           </tr>
           <tr>
               <td> User Type </td>
               <td>
                   <select name="type" required>
                   <option> Admin </option>
                   <option> Employee </option>
                   <option> Customer </option>
                   </select>*
               </td>
           </tr>
           <tr>
               <th colspan="2"><button type="submit"> Login </button> </th>
           </tr>
        </table>
        <h2><span style="text-align: center; background-color: aliceblue"><u>Invalid User Details...Enter the correct details</u></span> </h2>
        </form>
    {% else %}
        <form method="post" action="/index/">
        {% csrf_token %}
        <table align="center" border="1" bgcolor="#6495ed">
           <tr>
               <th colspan="2"> Login Form </th>
           </tr>
           <tr>
               <td> User Name </td>
               <td><input type="text" placeholder="User Name" name="u_name" required>*</td>
           </tr>
           <tr>
               <td> Password </td>
               <td><input type="password" placeholder="Password" name="pw" required>*</td>
           </tr>
           <tr>
               <td> User Type </td>
               <td>
                   <select name="type" required>
                   <option> Admin </option>
                   <option> Employee </option>
                   <option> Customer </option>
                   </select>*
               </td>
           </tr>
           <tr>
               <th colspan="2"><button type="submit"> Login </button> </th>
           </tr>
        </table>
        </form>
    {% endif %}
  </body>
</html>