.register_page{
    background-color: orangered;
    color: white;
    border-radius: 20px;
    border-color: black;
}

.login_page{
    background-color: darkolivegreen;
    color: white;
    border-radius: 20px;
    border-color: black;
}

.student_otp{
    margin: 10px;
    border-color: darkolivegreen;
    border-width: 2px;
    border-style: solid;
}