.register_page{
    background-color: orangered;
    color: white;
    border-radius: 20px;
    border-color: black;
}

.login_page{
    background-color: darkolivegreen;
    color: white;
    border-radius: 20px;
    border-color: black;
}