<html>
    <body>
        <h2 align="center"><span style="background-color: aliceblue;"><u>Students-Marks Information</u></span></h2>
        <table align="center" border="2">
            <tr>
                <th rowspan="2">IDNO</th>
                <th rowspan="2">NAME</th>
                <th colspan="5">Marks</th>
            </tr>
            <tr>
                <th>Subject1</th>
                <th>Subject2</th>
                <th>Subject3</th>
                <th>Subject4</th>
                <th>Subject5</th>
            </tr>
            {% for record in data %}
                <tr>
                    <td>{{ record.idno }}</td>
                    <td>{{ record.name }}</td>
                    {% for subject in record.marks %}
                        {% if subject < 35 %}
                            <td style="background-color: red;"> {{ subject }}</td>
                        {% elif subject == 'A' %}
                            <td style="background-color: seagreen;"> {{ subject }}</td>
                        {% else %}
                            <td style="background-color: burlywood;"> {{ subject }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </body>
</html>