h1 { color: crimson}
h2 { color: darkolivegreen}
#one {border: 2px solid brown; background-color: rosybrown; border-radius: 25px; color: darkred}
#two {border: 2px solid green; background-color: darkolivegreen; border-radius: 25px; color: beige}